<?xml version="1.0"?>
<model>
  <name>GrandCanyon</name>
  <version>1.0</version>
  <sdf version="1.4">grandcanyon.sdf</sdf>

  <author>
    <name>Stephanie Schneider</name>
    <email>schneids@stanford.edu</email>
  </author>

  <description>
    Part of the Grand Canyon terrain, imported from real-world evelation data.
    Elevation map used with Titan surface characteristics to model Titan canyon
  </description>

</model>
